@use "./colors" as *;

$border-r: 8px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

@function getColor($color) {
  @return map-get($theme-colors, $color);
}



@mixin desktop {
  @media (min-width: 60em) {
    @content;
  }
}

body {
  min-height: 100vh;
  margin-top: .5rem;
  font-family: "Karla", sans-serif;
  background: getColor(light-gray);
  
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  gap: 2rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  width: min(20rem, 95%);
  box-shadow: 2px 2px 25px 5px rgba(34, 69, 90, 0.1);


  justify-items: center;
  border-radius: $border-r;
  overflow: hidden;
  margin: 0 auto;
  
  @include desktop {
    grid-template-columns: repeat(2, 1fr);
    width: min(45rem, 100%);
  }
}

.grid-colspan-2 {
  @include desktop {
    grid-column: 1 / 3;
  }
}

.grayed-out {
  color: #fff8;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: white;
  width: 100%;
  padding: 2rem;
  margin: 0;
  
  

  &__description {
    color: getColor(grayish-blue);
    margin: 0;
    font-size: .9rem;
    line-height: 1.5rem;
  }

  &__button {
    width: 100%;
    padding: 1rem 0;
    margin-left: -4px;
    color: white; 
    font-weight: 700;
    background: getColor(accent);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 8px 10px 5px rgba(63, 99, 85, .2);
    transition: all 300ms ease;

    &:hover {
      transform: scale(1.05);
      box-shadow: 8px 12px 15px 8px rgba(63, 99, 85, .1);
      background: lighten(getColor(accent), 10%);
    }

  }
  
  &__title {
    font-size: 1.5rem;
    font-weight:700;
    margin: 0;

    &--cyan {
      color: getColor(primary);
    }
  }

  &__subtitle {
    font-size: 1.1rem;
    margin: 1.5rem 0;

    &--accent {
      color: getColor(accent);
    }
  }

  &__list {
    margin-bottom: 0;
  }

  &--primary {
    background: getColor(primary);
    color: white;
  }

  &--primary-light {
    background: lighten(getColor(primary), 15%);
    color: white;
  }


}

.price {
  font-size: 2rem;
  font-weight: 700;
  margin-right: .5rem;
}

.list {
  list-style: none;
  padding: 0;

  &__item + &__item {
    margin-top: .4rem;
  }
}

.attribution {
  font-size: .85rem;
  text-align: center;
  font-weight: bold;
  color: #777;
  
  a {
    color: hsl(228, 45%, 54%);
    text-decoration: none;
    transition: color 200ms ease;

    &:hover {
      color: lighten(hsl(228, 75%, 50%), 20%);
    }
  }
}
